extends layout

block content
    .container
        if(user.twitter.id)
            h3 Logged in using Twitter
            .row
                .column
                    .pref.float-left id:
                    .pref-value.float-right= user.twitter.id
                    div.clearfix
                    .pref.float-left username:
                    .pref-value.float-right= user.twitter.username
                    div.clearfix
                    .pref.float-left displayName:
                    .pref-value.float-right= user.twitter.displayName
                    div.clearfix

        if(user.google.id)
            h3 Logged in using Google
            .row
                 .column
                    .pref.float-left id:
                    .pref-value.float-right= user.google.id
                    div.clearfix
                    .pref.float-left username:
                    .pref-value.float-right= user.google.email
                    div.clearfix
                    .pref.float-left displayName:
                    .pref-value.float-right= user.google.name
                    div.clearfix
        br
        .row
            .column
                h3 You are attending .
                each key in attend
                    .row
                        .column
                            h5= key.barId
                        .column
                            button.going(id=key.barId) Cancel visit
        
